.todo-list{
    & > li{
        cursor: pointer;
    }

    &>li.completed{
        color: aqua;
        font-style: italic;
    }
}
.todo-list{
    & > .btnAll{
        font-display: #0d70c7;
    }
}